div.day__person {
  >mat-card {
    width: 120px;
    height: 158px;
    padding: 0px;
    border: 1px solid #ccd1d3;
    border-radius: 5%;
    >mat-card-header {
      background-color: #aba0ec;
      height: 38px;
      align-items: center;
      border-top-left-radius: 5%;
      border-top-right-radius: 5%;
    }
    >mat-grid-list {
      >mat-grid-tile {
        background: forestgreen;
        >span {
          color:white;
        }
      }
    }
    >div.day--empty {
      color:#9ca7ae;
      background-color:#dee4e6;
      text-align: center;
      border-bottom-left-radius: 5%;
      border-bottom-right-radius: 5%;
      &:after{
      content: "\02368";
      font-size: 98px;
      }
    }
  }
}
